.input{
    position: relative;
    display: flex;
    align-items: center;
}

.input .title{
    padding: 5px 10px 5px 10px;
    width: 100%;
    height: 30px;
    border: 1px solid #eee;
    border-radius: 1px;
    font-size: 1.3rem;
}

.input .count{
    position: absolute;
    right: 5%;
    color: gray;
}