.detailTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailTemplate > .infoT{
    margin-bottom: 10px;
}

.detailTemplate > .detailT{
    border-top: 1px solid lightgray;
    padding-top: 20px;
    width: 80%;
}

@media (max-width: 800px){
    .detailTemplate > .detailT{
        width: 95%;
    }
}