.detailTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailTemplate > .infoT{
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.detailTemplate > .detailT{
    width: 80%;
}

@media (max-width: 800px){
    .detailTemplate > .detailT{
        width: 100%;
    }
}