.mainTemplate{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainTemplate .entireT{
    width: 500px;
    margin: 10px;
}

@media (max-width: 800px){
    .mainTemplate .entireT{
        width: 100%;
    }
}