.writeTemplate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.writeTemplate .inputT{
    margin-top: 20px;
    width: 80%;
}
.writeTemplate .contentT{
    margin-top: 1rem;
    width: 80%;
}
.writeTemplate .submitT{
    margin-top: 1rem;
    width: 23%;
}

@media(max-width: 800px){
    .writeTemplate .inputT{
        width: 100%;
    }
    .writeTemplate .contentT{
        width: 100%;
    }
    .writeTemplate .submitT{
        width: 73%;
    }
}