.header{
    position: relative;
    width: 100%;
    background: #0B6DB7;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    z-index: 3;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header *{
    color: white;
}

.header *:visited{
    color: white;
}

.header .left{
    flex-grow: 1;
    margin-left: 20px;
}

.header .logo{
    position: absolute;
    font-size: 2rem;
    letter-spacing: 0.3rem;
    font-weight: 400;
}

.header .right{
    flex-grow: 1;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}